<template name="collegeChat">
  <div id="college-chat">

    <div class="cc-icon" id="cc-trigger">
      <img class="cc-icon-src" src="https://s3-us-west-2.amazonaws.com/admithub-partner-logos/circle+oli.png">
      {{#if notZero totalMatchMessagesUnreadCount}}
        <div class="cc-icon-unread">
          {{totalMatchMessagesUnreadCount}}
        </div>
      {{/if}}
    </div>

    <div id="cc-main">
      <div id="cc-main-header">
        <div id="cc-main-header-title">
          {{currentCollegeName}}
        </div>

        <i class="icon icon-x"></i>
      </div>

      <div id="cc-main-bar">
        {{#each matchesWithMessages}}
          <div class="cc-icon" data-college-id="{{collegeId}}">
            <img class="cc-icon-src can-fallback" src="{{collegeLogo collegeId}}">
            {{#if notZero matchMessagesUnreadCount}}
              <div class="cc-icon-unread">
                {{matchMessagesUnreadCount this}}
              </div>
            {{/if}}
          </div>
          <div class="cc-main-bar-college-name">{{collegeName collegeId}}</div>
        {{/each}}
      </div>

      <div id="cc-main-chat">
        {{#if currentCollegeMessages}}
          <div id="cc-main-chat-messages">
            {{#each currentCollegeMessages}}
              <div class="cc-main-chat-message" data-sender="{{sender}}">
                {{#if equal sender "college"}}
                  <img class="cc-main-chat-message-logo can-fallback" src="{{currentCollegeLogo}}">
                {{/if}}

                {{#if equal sender "student"}}
                  {{>avatar userId=chatUser._id size="small" class="cc-main-chat-message-logo" shape="circle" }}
                {{/if}}

                {{#if equal sender "admithub"}}
                  <img class="cc-main-chat-message-logo" src="https://s3-us-west-2.amazonaws.com/admithub-partner-logos/owl+bot.jpg">
                {{/if}}
                <div class="cc-main-chat-message-body">{{body}}</div>
              </div>
            {{/each}}
          </div>

          <div id="cc-main-chat-send">
            <div id="cc-main-chat-send-error">&nbsp;</div>
            <textarea></textarea>
            <button class="ui-btn">Send</button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
