<template name="collegeChat">
  {{#if currentUser}}
    <div id="pg-college-chat">
      <div id="pg-college-chat-bubble-area">
        <img id="pg-college-chat-bubble" src="https://s3-us-west-2.amazonaws.com/admithub-partner-logos/circle+oli.png">
        {{#if hasUnreadMessages}}
          <div id="pg-college-chat-bubble-message-count">{{unreadMessageCount}}</div>
        {{/if}}
      </div>

      <div id="pg-college-chat-bar-area">
        <div id="pg-college-chat-bar-header">
          <div id="pg-college-chat-bar-current-college">
            {{currentCollegeName}}
          </div>
          <i class="icon icon-x"></i>
        </div>

        <div id="pg-college-chat-bar-colleges">
          {{#each matches}}
            <div class="pg-college-chat-bar-item" data-college-id="{{collegeId}}">
              <img src="{{collegeLogo collegeId}}">
              {{#if collegeUnreads collegeId}}
                <div id="pg-college-chat-bar-item-unread-count">{{collegeUnreads collegeId}}</div>
              {{else}}
                <div id="pg-college-chat-bar-item-unread-count" style="opacity: 0;"></div>
              {{/if}}
              <div id="pg-college-chat-bar-item-name">{{collegeName collegeId}}</div>
            </div>
          {{/each}}

          <div id="pg-college-chat-messages">
            {{> collegeChatMessages}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>

<template name="collegeChatMessages">
  {{#each messages}}
    <div class="pg-college-chat-messsage-item" data-sender="{{sender}}">
      <img class="pg-college-chat-message-item-icon" src="{{collegeLogo}}">
      <div class="pg-college-chat-message-item-body">{{body}}</div>
    </div>
  {{/each}}

  {{#if messages}}
    <div id="pg-college-chat-message-input">
      <textarea></textarea>
      <button class="ui-btn">Send</button>
    </div>
  {{/if}}
</template>
