chat-bubble-size = 4rem
.chat-bubble
  width chat-bubble-size
  height chat-bubble-size
  padding 0.7rem
  border 0.1rem solid color-purple
  border-radius chat-bubble-size
  box-shadow 0rem 0.2rem 0.4rem 0rem black

  chat-bubble-img-size = 2.5rem
  img
    width chat-bubble-img-size
    height chat-bubble-img-size
    border-radius chat-bubble-size

chat-trigger-window-padding = 3rem
#chat-trigger
  bottom chat-trigger-window-padding
  right chat-trigger-window-padding
  position fixed
  z-index 999
