cc-icon-size = 50px
cc-icon-unread-size = 30px
.cc-icon
  width cc-icon-size
  height cc-icon-size
  border-radius cc-icon-size
  border 3px solid gray
  cursor pointer

  .cc-icon-src
    width cc-icon-size - 5px
    height cc-icon-size - 5px
    padding 5px
    display inline-block
    border-radius cc-icon-size
    background white

  .cc-icon-unread
    width cc-icon-unread-size
    height cc-icon-unread-size
    line-height cc-icon-unread-size + 3px
    top "calc(-100% - %s)" % (cc-icon-unread-size - 10px)
    left -10px
    border-radius cc-icon-unread-size
    background red
    position relative
    text-align center
    color white

#cc-trigger
  margin -10px
  top "calc(100% - %s)" % cc-icon-size
  left "calc(100% - %s)" % cc-icon-size
  position fixed
  z-index 999
  box-shadow 0px 0px 10px 1px lightgray

cc-main-width = 400px
#cc-main
  width cc-main-width
  height calc(100% + 20px)
  top 0
  right -100%
  transition right 1s
  position fixed
  z-index 1000
  background white

  cc-main-bar-width = 80px
  #cc-main-bar
    width cc-main-bar-width
    height 100%
    padding-top 1px
    background lightgray

    .cc-icon
      margin auto
      margin-top 20px

    .cc-main-bar-college-name
      text-align center

  cc-main-header-height = 58px
  #cc-main-header
    height cc-main-header-height
    line-height cc-main-header-height
    background gray

    #cc-main-header-title
      width calc(100% - 50px)
      display inline-block
      text-align center
      font-size 26px

    .icon
      height cc-main-header-height
      line-height cc-main-header-height
      padding-right 10px
      font-size 30px
      cursor pointer

  #cc-main-chat
    width cc-main-width - cc-main-bar-width
    height 100%
    padding 10px
    top cc-main-header-height
    right 0
    position absolute

  .cc-main-chat-message
    margin-top 10px

    cc-main-chat-message-logo-size = 30px
    .cc-main-chat-message-logo
      width cc-main-chat-message-logo-size
      height cc-main-chat-message-logo-size
      padding 1px
      display inline-block
      vertical-align top
      border 2px solid gray
      border-radius cc-main-chat-message-logo-size

    .cc-main-chat-message-body
      width "calc(100% - %s)" % (cc-main-chat-message-logo-size + 10px)
      padding 5px
      display inline-block
      border-radius 3px
      border 2px solid #7FBAAC
      background #99E0CF

  .cc-main-chat-message[data-sender="student"]
    .cc-main-chat-message-logo
      float right

    .cc-main-chat-message-body
      background #9fb2ec
      border-color #8695C4

  #cc-main-chat-messages
    width 100%
    height calc(100% - 280px)
    overflow-y scroll


  #cc-main-chat-send
    width 100%
    height 190px
    padding-right 10px
    bottom 85px
    position absolute
    z-index 999
    border-top 1px solid gray
    background white

    #cc-main-chat-send-error
      margin-top 10px
      margin-bottom 10px
      padding 5px
      border-radius 5px
      background red
      color white
      opacity 0
      transition opacity 0.2

    textarea
      width 100%

    button
      width 100%

#cc-main[data-active="true"]
  right 0
