.footer
  margin-top (space*6)
  padding 0
  clear both

.g-footer
  padding grid-gutter 0
  type-small()
  clearfix()

.g-footer-links
  li
    margin-bottom 1rem

    @media mq-sm
      float left
      width 20%
